@font-face {
    font-family: 'DroidSansRegular';
    src: url('../fonts/droid-sans/DroidSans-webfont.eot');
    src: url('../fonts/droid-sans/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droid-sans/DroidSans-webfont.woff') format('woff'),
         url('../fonts/droid-sans/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/droid-sans/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSansBold';
    src: url('../fonts/droid-sans/DroidSans-Bold-webfont.eot');
    src: url('../fonts/droid-sans/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droid-sans/DroidSans-Bold-webfont.woff') format('woff'),
         url('../fonts/droid-sans/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/droid-sans/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}