.ico-loading {
    background-image: url(../images/tree/loading.gif);
}

.ico-computer {
    background-image: url(../images/computer.png);
    background-size: 50px;
}

.ico-error {
    background-image: url(../images/exclamation.png);
}

.ico-download-button-arrow {
    background-image: url(../images/download-button-arrow.png);
}

.ico-checkmark-arrow {
    background-image: url(../images/checkmark-arrow.png);
}

.ico-arrow-right {
    background-image: url(../images/arrow-right.png);
}

.ico-server {
    background-image: url(../images/icon-server.png);
}
